<a class="series-list-item list-group-item list-group-item-action flex-column align-items-start" href="/series/{{id}}">
    <img src="{{image}}" class="img-fluid rounded float-left mr-2 img-cover">
    <div class="d-flex justify-content-between">
        <h5 class="mb-1">
            <span class="mr-1">{{title}}</span>
            <span class="badge badge-secondary text-monospace">{{season.string}}</span>
        </h5>
        <small class="text-muted text-uppercase">SERIES</small>
    </div>
    <p class="text-muted">{{aliasesString}}</p>
</a>