<a class="theme-list-item list-group-item list-group-item-action flex-column align-items-start" href="/watch/{{theme_id}}">
    <img src="{{image}}" class="img-fluid rounded float-left mr-3 img-cover">
    <div class="d-flex justify-content-between">
        <h5 class="mb-1">
            <span class="badge badge-secondary mr-1 text-monospace">{{type_string}}</span>
            <span>{{theme_title}}</span>
        </h5>
        <small class="text-muted text-uppercase">THEME</small>
    </div>
    <p class="text-muted">{{anime_title}}</p>
</a>