<a class="series-list-item list-group-item list-group-item-action d-flex flex-row align-items-start" href="/watch/{{id}}">
    <img src="{{series.image}}" class="img-fluid rounded mr-2 img-cover">
    <div class="mr-auto">
        <h5 class="mb-1">{{title}}</h5>
        <p class="text-muted">{{series.title}}</p>
    </div>
    <div class="d-flex flex-column align-self-stretch justify-content-between text-right text-nowrap">
        <small class="text-muted text-uppercase">THEME</small>
        <small class="text-muted">{{typeString}}</small>
    </div>
</a>