<h3 class="my-4">All themes of "{{username}}" ({{totalString}}):</h3>
<div id="theme-list" class="list-group mb-3">
    <div id="theme-list-no-results" class="list-group-item px-3 py-3 text-center{{#if results}} d-none{{/if}}">
        <h2>No results!</h2>
    </div>
    {{#each themes}}
        <a class="theme-list-result list-group-item list-group-item-action flex-column align-items-start" href="/watch/{{this.id}}">
            <img src="{{this.series.image}}" class="img-fluid rounded float-left mr-3 img-cover">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">
                    <span class="badge badge-secondary mr-2">{{this.typeString}}</span>
                    <span>{{this.title}}</span>
                </h5>
                <small class="text-muted text-uppercase">THEME</small>
            </div>
            <p class="text-muted mb-1">{{this.series.title}}</p>
        </a>
    {{/each}}

    {{#each results}}
        {{> _seriesListItem this.series}}
        <div class="list-group-item">
            <h5>Themes:</h5>
            <div class="list-group">
                {{#each this.themes}}
                    {{> _themeListItemSmall}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>